
.catalog-main ul {
  margin-left: 0;
  padding-left: 0;
}

.catalog-main h3 {
  font-size: 16px;
  font-weight: 800;
  font-family: 'Gilroy', sans-serif;
}

.catalog-h1 {
  padding-top: 44px;
  padding-bottom: 30px;
  margin: 0;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
}

.catalog button {
  background-color: #ebebeb;
  border: none;
  width: 67px;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
}
.catalog-item-image{
  background-color: #ebebeb;
}

.add-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 380px;
}

.add-item button  { background-color: red;
  border: none;

}

.cart-add {
  background-color: #d9d9d9;
  width: 200px;
  height: 8px;
}

.сompare-add {
  background-color: #d9d9d9;
  width: 144px;
  height: 13px;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 300;
  line-height: 2.77;
  letter-spacing: 0.13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.nav-arrow {
  width: 4px;
  height: 7px;
  padding-right: 18px;
  padding-left: 18px;
  object-fit: contain;
}

.user-navigation a {
  width: 142px;
  height: 14px;
  opacity: 0.3;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.14px;
}

.filter-header {
  margin-left: 200px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.divider {
  display: inline-block;
  height: 3px;
  background-color: black;
}

.arrow-up {
  background-color: #ebebeb;
  border: none;
  width: 11px;
  height: 10px;
  object-fit: contain;
}

.arrow-down {
  background-color: #ebebeb;
  border: none;
  width: 11px;
  height: 10px;
  object-fit: contain;
  opacity: 0.2;
}


/*Display: inline-block test*/



.pagination-item {
  width: 9px;
  opacity: 0.3;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
}

.pagination-item-current {
  width: 9px;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
}


/*Позиционирование каталога товаров*/

.user-navigation-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.user-navigation {
  display: flex;
  align-items: center;
}

.catalog-filter-wrapper {
  display: flex;
  flex-wrap: nowrap;

}

.filters {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
}

.filter-color li {
  margin-bottom: 24px;
}

.filters-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 199px;
  padding-right: 67px;
}

.decorative-filter-wrapper {
  background-color: #d9d9d9;
  padding-top: 5px;
  padding-bottom: 3px;
  margin-bottom: 69px;
}

/*Стили для чекбоксов*/


/*Стили для чекбоксовю. Конец*/

.cost-wrapper {
  margin-bottom: 67px;
}

.catalog-wrapper {
  display: flex;
}


.sorting {
  display: flex;
  justify-content: space-between;

  padding-left: 30px;
  padding-right: 20px;

  background-color: #ebebeb;
}

.sorting-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.sorting-wrapper h3 {
  align-self: center;
  margin-right: 40px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.sorting-list {
  display: flex;
  align-items: center;
}

.sorting-list button {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
}

.sorting-button {
  opacity: 0.3;
  font-size: 14px;
  line-height: 1.29;
}

.active-sorting-button {
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
}


.updown-arrow-wrapper {
  display: flex;
  align-items: center;
}
.updown-arrow-wrapper button {
  height: 100%;
  width: 100%;
}

.arrow-down {
  margin-left: 5px;
}


.catalog-list {
  margin-top: 69px;
  margin-bottom: 41px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.catalog-list h2 {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
}

.catalog-list p {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.16px;
  color: #464646;
}

.title-prise-wrapper {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.catalog-item-link {
  display: flex;
  flex-direction: column;
}

.catalog-item-link img {
  order: -1;
}


.pagination {
  margin-left: 52px;
  margin-right: 52px;
  margin-bottom: 77px;
  display: flex;
  justify-content: space-around;
  background-color: #ebebeb;
}

.pagination button {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
}

.pagination-list {
  display: flex;
}

.pagination-list li{
  margin-right: 5px;
  margin-left: 5px;
}
