body {
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif;
}


li {list-style-type: none; }

a {
  text-decoration:none;
  color: #000000;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.font-gilroy {font-family: 'Gilroy', sans-serif;}


.button {
  font-family: 'Gilroy', sans-serif;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #f0c52e;
  line-height: 1.33;
  letter-spacing: 3.5px;
  font-size: 18px;
  font-weight: 800;
  padding: 9px 14px;
  border: none;
  z-index: 1;
}

.button:hover::before {
  height: 0;
}

.button:hover::after {
  height: 0;
}

.button span {
  position: relative;
  z-index: 1;
}

.button::before,
.button::after {
  content: '';
  position: absolute;
  left: 0;
  height: 17px;
  width: 100%;
  z-index: 0;
  background-color: white;
  transition: height 0.25s ease-in-out;
}

.button::before {
  top: 0;
}

.button::after {
  bottom: 0;
}


/*fonts*/





.carousel {
  position: absolute;
  left: 1087px;
  bottom: 162px;
}

.slider-radio {
  display: none;
}

.slider-radio-1:checked+.slider-label-1,
.slider-radio-2:checked+.slider-label-2,
.slider-radio-3:checked+.slider-label-3 {
  background: url(../img/svg/slider-button.svg) 50% 50% no-repeat;
  background-size: 12px 12px;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.slider-label {
  position: absolute;
  width: 12px;
  height: 12px;
  background: url(../img/svg/slider-button-empty.svg) 50% 50% no-repeat;
  background-size: 12px 12px;
  cursor: pointer;
}

.slider-label-1 {
  left: -5px;
}

.slider-label-2 {
  left:27px;
}

.slider-label-3 {
  left: 60px;
}
/*---Header---*/


.navigation {
  padding-top: 19px;
  display: flex;
  flex-direction: column;
}

.navigation a:hover {
  opacity: 0.6;
}

.navigation a:active {
  opacity: 0.3;
}

.yellow-bar {
  display: block;
  width: 100%;
  padding: 61px 0px;
  background-color: #f8e297;
}

.navigation button {
  cursor: pointer;
}



.main-header-logo {
  margin-top: -23px;
  margin-left: -1px;
}

.main-header-logo:hover {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.navigation-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  order: 1;
}

.plus {
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../img/svg/plus.svg");
  background-size: cover;
}

.main-navigation-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  order: 1;
  margin-top: 15px;
}



.navigation-list a {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3px;
}

.navigation-delivery{
  vertical-align: middle;
}

.navigation-warranty {
  vertical-align: middle;
  padding-left: 40px;
}

.navigation-contacts {
  vertical-align: middle;
  padding-left: 111px;
  padding-right: 0;
  margin-right: 0;
}



.white-header-line {
  margin-left: auto;
  margin-right: 265px;
  margin-top: 105px;
  width: 116px;
  height: 7px;
  background-color: white;
}

.header-decorative-item {
  margin-bottom: -20px;
  padding-top: 25px;
  margin-right: 40px;
  width: 166px;
  height: 131px;
  font-size: 215px;
  font-weight: 800;
  letter-spacing: 2.5px;
  color: #ffffff;
}

.navigation-catalog-wrapper {
  padding-left: 0;
  position: relative;
}

.catalog-sub-menu {
  display: none;
  padding-left: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #f7e296;
  left: -60px;
  position: absolute;
  width: 1160px;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: 0.15px;
  box-sizing: border-box;
}

.catalog-sub-menu ul:first-child {
  padding-left: 0;
}


.navigation-catalog-wrapper:hover .catalog-sub-menu {
  display: flex;
  z-index: 3;
}



.catalog-sub-menu li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 25px;
}

.catalog-sub-menu a:hover {
  opacity: 0.6;
}

.catalog-sub-menu a:active {
  opacity: 0.3;
}

.header-user-activity {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 3px;
}

/*Доработыть отступ у кнопки*/


.header-user-activity li {
  margin-left: 20px;
}

.user-name-wrapper {
  margin: auto;
  display: flex;
  justify-content: center;
}


/*---Main---*/

.page-main {
  margin-top: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-main .wrapper {
  padding: 0px 82px;
  max-width: 1200px;
  position: relative;
}

.wrapper .catalog-item1,
.wrapper .catalog-item2,
.wrapper .catalog-item3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog-item1,
.catalog-item2,
.catalog-item3 {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  width: 1160px;
  box-sizing: border-box;
}

.img-holder {
  width: 384px;
  box-sizing: border-box;
}

.catalog-item1::after {
  content: '01';
}

.catalog-item2::after {
  content: '02';
}

.catalog-item3::after {
  content: '03';
}
.catalog-item1::after,
.catalog-item2::after,
.catalog-item3::after {
  font-family: 'Gilroy', sans-serif;
  top: -176px;
  right: 148px;
  position: absolute;
  width: 166px;
  height: 131px;
  font-size: 182px;
  font-weight: 800;
  color: #ffffff;
}

.new-catalog-item {
  right: 25px;
  top: 25px;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url("../img/svg/new-catalog-item.svg");
  transform: rotate(35deg);
}


.index-catalog-img1 {
  margin-top: -146px;
  margin-left: 90px;
}

.index-catalog-img2 {
  margin-top: -100px;
}

.index-catalog-img3 {
  margin-top: -10px;
}

.item-description-wrapper {
  justify-content: flex-start;
  width: 562px;
  display: flex;
  flex-direction: column;
}

.item-description-wrapper::before {
  content: '';
  position: absolute;
  top: -110px;
  left: 682px;
  width: 100px;
  height: 7px;
  background-color: white;
}


.catalog-item-description {
  padding-left: 0;
}
.selfy-rod-description {
  margin-top: 19px;
  padding-bottom: 25px;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: #464646;
}

.catalog-item-features span {
  font-family: 'Open Sans', sans-serif;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: 0.13px;
  color: #464646;
}


.add-title {
  position: relative;
  margin-top: -81px;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.19;
  letter-spacing: 0.75px;
  z-index: 1;
}


.catalog-item-features {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  padding-right: 137px;
}


.item-feature {
  display: flex;
  flex-direction: column;
  margin-top: 51px;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.36px;
}


.detail-wrapper {
  width: 494px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

/*Стили для карусели главной картинки индекса*/



/*Стили для карусели главной картинки индекса*/

.delivery-wrapper,
.warranty-wrapper,
.credit-wrapper {
  margin-top: -25px;
  display: flex;
}


/*Следущий блок popular-items*/

.popular-items {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  box-sizing: border-box;
}

.popular-items li {
  padding: 20px;
}

.popular-items p {
  height: 15px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  margin-top: 32px;
}

/*Следуйщий блок  service-main*/
.service-main {
  margin-top: 154px;
  background-color: #e5e5e5;
}

.service-main .wrapper{
  display: flex;
  padding-bottom: 53px;
}

.service-main strong {
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
}

.service-main p {
  margin-top: 31px;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.20px;
  color: #464646;
}

.services-list {
  padding-top: 59px;
  padding-bottom: 61px;
  padding-left: 0;
  margin-top: -99px;
  margin-right: 117px;
  display: flex;
  flex-direction: column;
  border-right: 7px solid black;
}

.warranty-button,
.delivery-button,
.credit-button {
  width: 160px;
}

.button .warranty-button {
  padding-top: 3px;
  padding-bottom: 3px;
}

.warranty-button::before,
.warranty-button::after,
.credit-button::before,
.credit-button::after,
.delivery-button::after{
  background-color: #e5e5e5;
}

.service-main .button {
  margin-right: 35px;
}

.service-main li {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 5px;
}

.services-active {
  width: 278px;
  height: 40px;
  padding-right: 45px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  border: none;
  text-transform: uppercase;
  background-color: #000000;
  color: #f0c52e;
  text-align: left;
}

/*Следуйщий блок partners-logos*/

.partners-logos .wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 94px;
  padding-bottom: 94px;
}

.black-decorative-line {
  width: 80px;
  height: 7px;
  background-color: black;
}

/*Следуйщий блок about-main*/



.about-main .about-wrapper{
  display: flex;
  justify-content: space-around;
  max-width: 1286px;
  margin: 0 auto;
}


.about-main p {
  margin-top: 0px;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: #464646;
}

.about-title {
  font-size: 46px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.82px;
  text-align: left;
  margin: 44px 0;
  color: #000000;
}

.delivery-item {
  position: relative;
}

.about-delivery {
  padding-left: 34px;
  margin-top: 35px;
}

.about-delivery a {
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;
}

.about-item::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid #000;
  opacity: .2;
  top: 16px;
  left: -34px;
}

.about-us-container {
  display: flex;
  flex-direction: column;
}

.about-us-container p {
  margin-bottom: 31px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.map-img {
  margin-top: 25px;
}

.map-img:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  transition-duration: 0.2s;
  z-index: 2;
}

.contact-us-button,
.about-us-button
{
  max-width: 250px;
}


/*Следуйщий блок page-footer*/



.footer-wrapper {
  flex-direction: column;
  display: flex;
}

.service-footer {
  flex-direction: column;
  justify-content: center;
  align-self: center;
  display: flex;
}

.services-type {
  display: flex;
  flex-direction: row;
}


.services-type li:hover {
  opacity: 0.6;
}

.services-type li:active {
  opacity: 0.3;
}


.social .social-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.social li {
  opacity: 0.3;
  padding: 5px;
}

.warranty-link {
  margin-left: 15px;
  margin-right: 15px;
}

.social li:hover {
  opacity: 0.6;
}

.social li:active {
  opacity: 0.1;
}

.social-wrapper {
  margin: 0 auto;
}


.service-footer ul {
 padding-left: 0;
}


.catalog-popular {
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
}



/*Стили header*/
/*Стили header*/
/*Стили header*/


.page-header {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  max-width: 1160px;
  padding-left: 60px;
  padding-right: 61px;
  background-color: #f8e297;
  box-sizing: border-box;
}

.open-catalog {
  border: none;
  background-color: #f8e297;
  opacity: 0.5;
  vertical-align: bottom;
}


.user-activity-wrapper {
  display: flex;
  justify-content: space-between;
}

.user-name:hover,
.compare:hover,
.cart:hover,
.login-button:hover{
  opacity: 0.6;
}

.user-name:active,
.compare:active,
.cart:active,
.login-button:active{
  opacity: 0.3;
}



.search-wrapper {
  position: relative;
}

.search {
  padding: 5px;
  margin-left: 35px;
  display: inline-block;
  opacity: 0.3;
  font-size: 15px;
  font-weight: 300;
  border: none;
  background-color: #f8e297;
}

.search-wrapper:before {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 2px;
  width: 18px;
  height: 18px;
  background: url(../img/svg/search.svg) 50% 50% no-repeat;
  background-size: 18px 18px;
  vertical-align: text-top;
  z-index: 10;
}

.search:focus {
  outline: 0;

}
.focus-styles {
  border-bottom: 2px solid black;
}

.search-button {
  background: transparent;
  padding: 8px 18px 8px 18px;
  border-bottom: none;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
}

.search-button:hover {
  background-color: black;
  color: white;
}
.search-button:active span {
  opacity: 0.3;
}

.user-name {
  margin-left: 15px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 300;
}

.login-list {
  position: relative;
  display: flex;
  box-sizing: border-box;
  margin-right: 37px;
  padding-left: 17px;
}

.user-name:before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 10px;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-image: url("../img/svg/user.svg");
  background-size: cover;
}


.compare-list {
  position: relative;
  margin-left: auto;
  padding-left: 14px;
  margin-right: 36px;
}

.cart-list {
  position: relative;
  margin: auto;
  padding-left: 14px;
}


.modal-login{
  vertical-align: middle;
  padding-left: 10px;
  border: none;
  background-color: #f8e297;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.35px;
  background-size: cover;
}

.login-button {
  margin-right: 99px;
}

.login-button:before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 3px;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url("../img/svg/user.svg");
  background-size: cover;
}


.logoff {
  font-size: 17px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  background-color: #f8e297;
  border: none;
  opacity: 0.3;
}

.logoff:hover {
  opacity: 0.6;
}


.compare {
  margin: auto;
  display: block;
  padding: 1px 6px;
  font-size: 15px;
  font-weight: 300;
  background-color: #f8e297;
  border: none;
  letter-spacing: 0.15px;
}

.compare:before {
  content: '';
  position: absolute;
  display: block;
  left: -2px;
  top: 5px;
  width: 11px;
  height: 11px;
  background-repeat: no-repeat;
  background-image: url("../img/svg/compare.svg");
  background-size: cover;
}

.cart {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 300;
  background-color: #f8e297;
  border: none;
  letter-spacing: 0.15px;
  padding-right: 0;
}

.cart:before {
  content: '';
  position: absolute;
  display: block;
  left: -1px;
  top: 4px;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url("../img/svg/cart.svg");
  background-size: cover;
}

.navigation-catalog-link,
.navigation-contacts,
.navigation-delivery,
.navigation-warranty {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: #f8e297;
  line-height: 1.33px;
  letter-spacing: 3.6px;
  font-size: 18px;
  font-weight: 800;
}

.services-image {
  margin-left: 134px;
  display: inline-block;
  min-height: 100%;
  min-width: 136px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: -76px;
}

.delivery-image {
  background-image: url("../img/svg/delivery.svg");
}
.warranty-image {
  background-image: url("../img/svg/warranty.svg");
}
.credit-image {
  background-image: url("../img/svg/credit.svg");
}


/*Стили кнопок*/





.detail-link {
  display: inline-block;
  vertical-align: middle;
  width: 195px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}





/*Popular catalog*/

.popular-back {
    display: inline-block;
    width: 160px;
    height: 160px;
    background-color: #f8e297;
}

.popular-back:hover {
  background-color: #f0c52e;
}

.popular-items li:active {
  opacity: 0.3;
}
/*Стили для картинок*/


.catalog-popular-img1 {
  margin-top: 52px;
  margin-left: 31px;
  display: inline-block;
  background-image: url("../img/svg/popular-1.svg");
  width: 97px;
  height: 55px;
}
.catalog-popular-img2 {
  margin-top: 41px;
  margin-left: 38px;
  display: inline-block;
  background-image: url("../img/svg/popular-2.svg");
  width: 86px;
  height: 117px;
}
.catalog-popular-img3{
  margin-top: 38px;
  margin-left: 49px;
  display: inline-block;
  background-image: url("../img/svg/popular-3.svg");
  width: 71px;
  height: 87px;
}
.catalog-popular-img4 {
  margin-top: 50px;
  margin-left: 28px;
  display: inline-block;
  background-image: url("../img/svg/popular-4.svg");
  width: 107px;
  height: 65px;
}
.catalog-popular-img5 {
  margin-top: 32px;
  margin-left: 55px;
  display: inline-block;
  background-image: url("../img/svg/popular-5.svg");
  width: 56px;
  height: 98px;
}
.catalog-popular-svg6 {
  margin-top: 49px;
  margin-left: 13px;
  display: inline-block;
  background-image: url("../img/svg/popular-6.svg");
  width: 132px;
  height: 69px;
}




.logo-DJI-color,
.logo-SP-color,
.logo-GoPro-color,
.logo-Vive-color
{
  display: none;
}

.logo-DJI,
.logo-SP,
.logo-GoPro,
.logo-Vive {
  display: inline-block;
  width: 260px;
  height: 100px;
}

.logo-DJI {
  background-image: url("../img/logo-1.png");
}
.logo-SP {
  background-image: url("../img/logo-2.png");
}
.logo-GoPro {
  background-image: url("../img/logo-3.png");
}
.logo-Vive {
  background-image: url("../img/logo-4.png");
}

.logo-DJI:hover .logo-DJI-color,
.logo-SP:hover .logo-SP-color,
.logo-GoPro:hover .logo-GoPro-color,
.logo-Vive:hover .logo-Vive-color {
  display: block;
}



/*Стили для футера*/

.page-footer {
  margin-top: 80px;
  padding-top: 60px;
  background-color: #464646;
  color: white;
}

.page-footer .wrapper {
  padding-left: 145px;
  padding-right: 145px;
  display: flex ;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer p {
  font-weight: 300;
  line-height: 2;
}

.footer-user-activity {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: 0.15px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-activity .user-activity-list {
  max-width: 600px;
  margin-right: 0;
}

.footer-user-activity ul {
  padding: 0;
  display: flex;
}

.footer-side-holder {
  padding-bottom: 50px;
  margin-bottom: 50px;
  padding-top: 14px;
  display: flex;
}

.footer-user-activity button,
.footer-user-activity a {
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: 0.15px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  background-color: transparent;
  color: white;
}


.footer-user-activity .cart-button:hover,
.footer-user-activity a:hover{
  opacity: 1;
}

.indent-collapse {
  margin-right: 0;
  padding-right: 0;
}

.contact-us{
  max-width: 260px;
}


.about-us {
  max-width: 232px;
}

.contact-us {
  margin-top: 68px;
}

.about-us {
  margin-top: 37px;
}

.user-activity-list {
  margin: 0 auto;
}

.footer-login-button {

}

.footer-login:before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 10px;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-user-activity .footer-login:before {
  background-image: url("../img/svg/user-yellow.svg");
}
.footer-user-activity .compare-footer:before {
  background-image: url("../img/svg/compare-yellow.svg");
}
.footer-user-activity .cart-footer:before {
  background-image: url("../img/svg/cart-yellow.svg");
}

.footer-user-activity .compare-footer:before,
.footer-user-activity .cart-footer:before {
  content: '';
  position: absolute;
  display: block;
  left: -1px;
  top: 2px;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoff-footer {
  font-size: 17px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  background-color: #f8e297;
  border: none;
  opacity: 0.3;
}

.logoff-footer:hover,
.footer-login-button:hover {
  opacity: 1;
}

.logoff-footer:active,
.footer-login-button:active {
  opacity: 0.3;
}

.compare-button:active,
.cart-button:active {
  opacity: 0.3;
}

.cart-button,
.footer-login-button,
.compare-button {
  opacity: 0.7;
}

.footer-user-activity .compare-footer:before,
.footer-user-activity .cart-footer:before {
  top: 12px;
}

.footer-user-activity .user-name:before {
  background-image: url("../img/svg/user-yellow.svg");
  top:12px;
}



.compare-button {
  opacity: 0.7;
  margin: auto;
  padding-left: 7px;
  padding-right: 7px;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 300;
  border: none;
  letter-spacing: 0.15px;
  color: white;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 19px;
  margin-left: 199px;
}

.academy-link {
  margin-top: 31px;
}

.footer-contacts img:hover {
  opacity: 0.6;
}

.footer-contacts img:active {
  opacity: 0.3;
}

.phone-number {
  font-weight: 300;
  font-size: 15px;
  line-height: 2;
  text-align: right;
}


.footer-contacts a {
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.service-footer li,
.service-footer a {
  color: white;
}

.services-type li {
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 4.7px;
  padding: 5px;
}

.services-type a  {
  padding: 7px 3px;

}

.footer-logo {
  margin-top: 5px;
  color: #f0c52e;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.address {
  margin-top: 28px;

  font-size: 15px;
  font-weight: 300;
  line-height: 2;
}

.social-facebook {
  border-radius: 100%;
  border: none;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #464646;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/svg/facebook.svg");

}
.social-instagram {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: inline-block;
  background-color: #ebebeb;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/svg/instagram.svg");
  margin-left: 15px;
  margin-right: 15px;

}
.social-vk {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: inline-block;
  background-color: #ebebeb;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/svg/vk.svg");

}

.yellow-decorative-line {
  margin-top: 61px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}



/*Форма оборатной связи*/

.modal {
  position: fixed;
  color: #000000;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  z-index: 2;
}


.contact-us-form  {
  bottom: 10px;
  margin-left: -480px;
  left: 50%;
  width: 760px;
  height: 453px;
  padding: 98px 100px;
  background-color: #ffffff;
}

.contact-us-form input[type="text"],
.contact-us-form input[type="email"]{
  border: none;
  font: inherit;
}

.modal-close {
  position: absolute;
  right: 22px;
  top: 22px;
  background-color: transparent;
  border: none;
  width: 55px;
  height: 55px;
  cursor: pointer;
  opacity: 0.5;
}

.modal-close:hover {
  opacity: 1;
}

modal-close:active {
  opacity: 0.3;
}

.contact-us-form  label {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
}

.contact-us-form input{
  font-size: 14px;
  line-height: 1.29;
  color: rgba(70, 70, 70, 0.4);

  background-color: #e5e5e5;
}

.mail-body {
  max-width: 740px;
}

.name-email-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 760px;
}

.name-email-wrapper input {
  width: 340px;
  height: 50px;
  padding-left: 20px;
  margin-top: 13px;
  outline: #ffb97b;
  background-color: #f2f2f2;
}

.name-email-wrapper input:hover {
  background-color: #eaeaea;
}

.name-email-wrapper input:focus{
  outline: solid 3px #ffb97b;
  outline-offset: -1px;
  opacity: 0.5;
  background-color: #ffffff;
}

.contact-textarea-wrapper {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.contact-textarea-wrapper textarea {
  padding-top: 18px;
  margin-top: 13px;
  margin-bottom: 55px;
  padding-left: 20px;
  border: none;
  color: rgba(70, 70, 70, 0.4);
  background-color: #f2f2f2;
}

.contact-us-form  textarea:hover {
  background-color: #eaeaea;
}

.contact-us-form  textarea:focus{
  outline: solid 3px #ffb97b;
  outline-offset: -1px;
  opacity: 0.5;
  background-color: #ffffff;
}


.contact-name-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-email-wrapper {
  display: flex;
  flex-direction: column;
}

/*Модальное окно карты*/

.modal-map {
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -280px;
  width: 960px;
  height: 559px;
}
