
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/web/opensans.woff2') format('woff2'), url('../fonts/web/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/web/opensanslight.woff2') format('woff2'), url('../fonts/web/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/web/gilroyextrabold.woff2') format('woff2'), url('../fonts/web/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/web/gilroylight.woff2') format('woff2'), url('../fonts/web/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  padding-top: 40px;
}

li {
  list-style-type: none;
}

a {
  text-decoration:none;
  color: #000000;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.font-gilroy {
  font-family: 'Gilroy', 'Arial', sans-serif;
}

.button {
  font-family: 'Gilroy', sans-serif;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #f0c52e;
  line-height: 1.33;
  letter-spacing: 3.5px;
  font-size: 18px;
  font-weight: 800;
  display: inline-block;
  position: relative;
  padding: 9px 14px;
  border: none;
  z-index: 1;
}

.button:active span {
  opacity: 0.3;
}

.button:hover::before {
  height: 0;
}

.button:hover::after {
  height: 0;
}

.button span {
  position: relative;
  z-index: 1;
}

.button::before,
.button::after {
  content: '';
  position: absolute;
  left: 0;
  height: 17px;
  width: 100%;
  z-index: 0;
  background-color: white;
  transition: height 0.25s ease-in-out;
}

.button::before {
  top: 0;
}

.button::after {
  bottom: 0;
}

.carousel {
  position: absolute;
  left: 1087px;
  top: 186px;
}

.slider-radio {
  display: none;
}

.slider-radio-1:checked+.slider-label-1,
.slider-radio-2:checked+.slider-label-2,
.slider-radio-3:checked+.slider-label-3 {
  position: absolute;
  width: 12px;
  background: url(../img/svg/slider-button.svg) 50% 50% no-repeat;
  height: 12px;
  background-size: 12px 12px;
}

[type="checkbox"], [type="radio"] {
  padding: 0;
  box-sizing: border-box;
}

.slider-label {
  position: absolute;
  width: 12px;
  height: 12px;
  background: url(../img/svg/slider-button-empty.svg) 50% 50% no-repeat;
  background-size: 12px 12px;
  cursor: pointer;
}

.slider-label-1 {
  left: -5px;
}

.slider-label-2 {
  left:27px;
}

.slider-label-3 {
  left: 60px;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.navigation a:hover {
  opacity: 0.6;
}

.navigation a:active {
  opacity: 0.3;
}

.yellow-bar {
  display: block;
  width: 100%;
  padding: 58px 0;
  background-color: #f8e297;
}

.catalog-yellow-bar {
  display: block;
  width: 100%;
  padding: 3px 0;
  background-color: #f8e297;
}

.navigation button {
  cursor: pointer;
}

.main-header-logo {
  margin-top: -23px;
  margin-left: -1px;
}

.main-header-logo:hover {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.navigation-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  order: 1;
  width: 500px;
}

.plus {
  display: inline-block;
  vertical-align: initial;
  width: 16px;
  height: 16px;
  margin: auto;
  background-repeat: no-repeat;
  background-image: url("../img/svg/plus.svg");
  background-size: cover;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 1;
  margin-top: 11px;
}
.navigation-catalog-list {
  padding-left: 0;
}

.navigation-list a {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3px;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 0;
}

.navigation-delivery{
  vertical-align: middle;
  margin-right: 42px;
}

.navigation-warranty {
  vertical-align: middle;
  margin-right: 114px;
}

.navigation-contacts {
  vertical-align: middle;
  padding-left: 111px;
  padding-right: 0;
  margin-right: 0;
}

.white-header-line {
  width: 116px;
  height: 7px;
  margin-left: auto;
  margin-right: 265px;
  margin-top: 105px;
  background-color: white;
}

.header-decorative-item {
  font-size: 215px;
  font-weight: 800;
  letter-spacing: 2.5px;
  width: 166px;
  height: 131px;
  margin-bottom: -20px;
  padding-top: 25px;
  margin-right: 40px;
  color: #ffffff;
}

.navigation-catalog-list {
  position: relative;
  padding-left: 0;
}

.catalog-sub-menu {
  font-size: 15px;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: 0.15px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
  left: -60px;
  width: 1160px;
  padding-left: 56px;
  padding-bottom: 25px;
  background-color: #f7e296;
  box-sizing: border-box;
}

.catalog-sub-menu ul {
  margin-top: 30px;
  padding-left: 0;
  margin-right: 50px;
}

.catalog-sub-menu ul:first-child {
  padding-left: 0;
}

.navigation-catalog-list:hover .catalog-sub-menu {
  display: flex;
  z-index: 3;
}

.catalog-sub-menu li {
  padding: 3px;
}

.catalog-sub-menu a:hover {
  opacity: 0.6;
}

.catalog-sub-menu a:active {
  opacity: 0.3;
}

.header-user-activity {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 4px;
}

.user-name-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
}

.page-main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 32px;
}

.slider-wrapper {
  width: 1160px;
}

.page-main .wrapper {
  position: relative;
  max-width: 1200px;
  padding: 0 82px;
}

.wrapper .catalog-item1,
.wrapper .catalog-item2,
.wrapper .catalog-item3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog-item1,
.catalog-item2,
.catalog-item3 {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  width: 1160px;
  box-sizing: border-box;
}

.img-holder {
  width: 384px;
  box-sizing: border-box;
}

.catalog-item1::after {
  content: '01';
  right: 148px;
}

.catalog-item2::after {
  content: '02';
  right: 178px;
}

.catalog-item3::after {
  content: '03';
  right: 179px;
}
.catalog-item1::after,
.catalog-item2::after,
.catalog-item3::after {
  font-family: 'Gilroy', sans-serif;
  font-size: 182px;
  font-weight: 800;
  position: absolute;
  top: -171px;
  width: 166px;
  height: 131px;
  color: #ffffff;
}

.new-catalog-item {
  display: block;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 80px;
  height: 80px;
  background-image: url("../img/svg/new-catalog-item.svg");
  transform: rotate(35deg);
}

.index-catalog-img1 {
  margin-top: -143px;
  margin-left: 90px;
}

.index-catalog-img2 {
  margin-top: -100px;
}

.index-catalog-img3 {
  margin-top: -10px;
}

.item-description-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 562px;
  margin-left: auto;
}

.item-description-wrapper::before {
  content: '';
  position: absolute;
  top: -105px;
  left: 682px;
  width: 100px;
  height: 7px;
  background-color: white;
}

.catalog-item-description {
  padding-left: 0;
}
.selfy-rod-description {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  margin-top: 19px;
  padding-bottom: 25px;
  color: #464646;
}

.catalog-item-features span {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: 0.13px;
  margin-top: 8px;
  color: #464646;
}

.add-title {
  font-size: 47px;
  font-weight: 800;
  line-height: 1.19;
  letter-spacing: 0.75px;
  position: relative;
  margin-top: -76px;
  z-index: 1;
}

.catalog-item-features {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  padding-right: 137px;
}

.item-feature {
  display: flex;
  flex-direction: column;
  margin-top: 51px;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.36px;
}

.detail-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 494px;
  box-sizing: border-box;
}

.delivery-wrapper,
.warranty-wrapper,
.credit-wrapper {
  display: flex;
  margin-top: -25px;
}

.popular-items {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  box-sizing: border-box;
}

.popular-items li {
  padding: 20px;
}

.popular-items p {
  height: 15px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  margin-top: 32px;
}

.service-main {
  margin-top: 154px;
  background-color: #e5e5e5;
}

.service-main .wrapper{
  display: flex;
  padding-bottom: 53px;
}

.service-main strong {
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
}

.service-main p {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.20px;
  margin-top: 31px;
  color: #464646;
}

.services-list {
  display: flex;
  flex-direction: column;
  padding-top: 59px;
  padding-bottom: 61px;
  padding-left: 0;
  margin-top: -99px;
  margin-right: 119px;
  margin-left: 19px;
  border-right: 7px solid black;
}

.warranty-button,
.delivery-button,
.credit-button {
  width: 160px;
}

.button .warranty-button {
  padding-top: 3px;
  padding-bottom: 3px;
}

.warranty-button::before,
.warranty-button::after,
.credit-button::before,
.credit-button::after,
.delivery-button::after{
  background-color: #e5e5e5;
}

.service-main .button {
  margin-right: 35px;
}

.service-main li {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 5px;
}

.services-active {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: left;
  width: 278px;
  height: 40px;
  padding-right: 45px;
  padding-left: 20px;
  border: none;
  color: #f0c52e;
  background-color: #000000;
}

.partners-logos .wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 94px;
  padding-bottom: 94px;
}

.black-decorative-line {
  width: 80px;
  height: 7px;
  background-color: black;
}

.about-main .about-wrapper{
  display: flex;
  justify-content: space-around;
  max-width: 1286px;
  margin: 0 auto;
}

.about-main p {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  margin-top: 0;
  color: #464646;
}

.about-title {
  font-size: 46px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.82px;
  text-align: left;
  margin: 44px 0;
  color: #000000;
}

.delivery-item {
  position: relative;
}

.about-delivery {
  padding-left: 34px;
  margin-top: 35px;
}

.about-delivery a {
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;
}

.about-item::before {
  content: "";
  position: absolute;
  top: 16px;
  left: -34px;
  width: 4px;
  height: 4px;
  opacity: .2;
  border-radius: 50%;
  border: 2px solid #000;
}

.about-us-container {
  display: flex;
  flex-direction: column;
}

.about-us-container p {
  margin-bottom: 31px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.map-img {
  margin-top: 25px;
}

.map-img:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  transition-duration: 0.2s;
  z-index: 2;
}

.contact-us-button,
.about-us-button
{
  max-width: 250px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
}

.service-footer {
  display: flex;
  flex-direction: column;
  margin-top: 19px;
}

.services-type {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
}

.services-type li:hover {
  opacity: 0.6;
}

.services-type li:active {
  opacity: 0.3;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 39px;
}
.social li {
  padding: 5px;
  opacity: 0.3;
}

.warranty-link {
  margin-left: 15px;
  margin-right: 15px;
}

.social li:hover {
  opacity: 0.6;
}

.social li:active {
  opacity: 0.1;
}

.service-footer ul {
 padding-left: 0;
}

.catalog-popular {
  width: 1201px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
}

.page-header {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 61px;
  background-color: #f8e297;
  box-sizing: border-box;
}

.open-catalog {
  vertical-align: text-bottom;
  margin-left: 2px;
  opacity: 0.5;
  background-color: #f8e297;
  border: none;
}

.user-activity-wrapper {
  display: flex;
  justify-content: space-between;
}

.user-name:hover,
.compare:hover,
.cart:hover,
.login-button:hover{
  opacity: 0.6;
}

.user-name:active,
.compare:active,
.cart:active,
.login-button:active{
  opacity: 0.3;
}

.search {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-left: 36px;
  width: 315px;
  height: 50px;
  font-family: "Open Sans Light","Arial",sans-serif;
  font-size: 15px;
  letter-spacing: .15px;
  color: rgba(0,0,0,0.3);
  background-color: #f8e297;
  border: 0;
  outline: 1px solid transparent;
}

.search-form {
  position: relative;
}

.search-form:before {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-size: 18px 18px;
  background: url(../img/svg/search.svg) 50% 50% no-repeat;
  z-index: 10;
}

.search:focus {
  outline: 0;

}
.focus-styles {
  border-bottom: 2px solid black;
}

.search-button {
  visibility: hidden;
  position: relative;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 85px;
  height: 50px;
  border: 2px solid black;
  background-color: transparent;
  font-family: "Open Sans Light","Arial",sans-serif;
  font-size: 15px;
  letter-spacing: .15px;
  color: black;
}

.search:focus ~ .bottom-line {
  position: absolute;
  display: block;
  left: 7px;
  bottom: 0;
  width: 397px;
  height: 2px;
  background-color: #000;
}

.search:focus + .search-button {
  visibility: visible;
}

.search:focus + .search-wrapper {
  visibility: hidden;
}

.search:focus + .search-form {
  border-bottom: 2px solid black;
  opacity: 1;
}

.search-wrapper {
  position: relative;
}

.search-button:active {
  visibility: visible;
}

.search-button:hover {
  background-color: black;
  color: white;
}
.search-button:active span {
  opacity: 0.3;
}

.user-name {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  margin-left: 15px;
  margin-right: 4px;
}

.user-name-link {
  padding: 10px 5px 5px 15px;
}

.login-list {
  display: flex;
  position: relative;
  margin-right: 26px;
  box-sizing: border-box;
}

.compare-list {
  position: relative;
}

.index-footer-login {
  position: relative;
  margin-right: 53px;
}

.user-name:before {
  content: '';
  position: absolute;
  display: block;
  left: 3px;
  top: 12px;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/user.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.compare-list-footer {
  position: relative;
  margin-right: 41px;
}

.cart-list {
  position: relative;
}

.modal-login {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.35px;
  vertical-align: middle;
  padding: 10px 5px 5px 5px;
  background-color: #f8e297;
  background-size: cover;
  border: none;
}

.login-button {
   padding-left: 30px;
   margin-right: 179px;
}

.login-button:before {
  content: '';
  position: absolute;
  display: block;
  left: 3px;
  top: 11px;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/user.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-logoff {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  margin-right: 29px;
  margin-left: 3px;
  padding: 10px 5px 5px 5px;
  opacity: 0.3;
  background-color: #f8e297;
  border: none;
}

.header-logoff:hover {
  opacity: 0.6;
}

.compare {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  display: block;
  margin-right: 29px;
  padding: 10px 5px 5px 25px;
  background-color: #f8e297;
  border: none;
}

.compare:before {
  content: '';
  display: block;
  position: absolute;
  left: 5px;
  top: 13px;
  width: 11px;
  height: 11px;
  background-image: url("../img/svg/compare.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.cart {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  display: inline-block;
  padding: 10px 0 5px 30px;
  vertical-align: middle;
  background-color: #f8e297;
  border: none;
}

.cart:before {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  top: 12px;
  width: 12px;
  height: 12px;
  background-image: url("../img/svg/cart.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation-catalog-link {
  letter-spacing: 3.5px;
}

.navigation-catalog-link,
.navigation-contacts,
.navigation-delivery,
.navigation-warranty {
  line-height: 1.33px;
  letter-spacing: 3.5px;
  font-size: 18px;
  font-weight: 800;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  background-color: #f8e297;
  border: none;
}

.services-image {
  display: inline-block;
  min-height: 100%;
  min-width: 136px;
  margin-top: -76px;
  margin-left: 134px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.delivery-image {
  background-image: url("../img/svg/delivery.svg");
}
.warranty-image {
  background-image: url("../img/svg/warranty.svg");
}
.credit-image {
  background-image: url("../img/svg/credit.svg");
}

.detail-link {
  display: inline-block;
  vertical-align: middle;
  width: 195px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popular-back {
    display: inline-block;
    width: 160px;
    height: 160px;
    background-color: #f8e297;
}

.popular-back:hover {
  background-color: #f0c52e;
}

.popular-items li:active span,
.popular-items li:active p {
  opacity: 0.3;
}

.catalog-popular-img1 {
  display: inline-block;
  width: 97px;
  height: 55px;
  margin-top: 52px;
  margin-left: 31px;
  background-image: url("../img/svg/popular-1.svg");
}
.catalog-popular-img2 {
  display: inline-block;
  margin-top: 41px;
  margin-left: 38px;
  width: 86px;
  height: 117px;
  background-image: url("../img/svg/popular-2.svg");
}
.catalog-popular-img3{
  display: inline-block;
  margin-top: 38px;
  margin-left: 49px;
  width: 71px;
  height: 87px;
  background-image: url("../img/svg/popular-3.svg");
}
.catalog-popular-img4 {
  display: inline-block;
  width: 107px;
  height: 65px;
  margin-top: 50px;
  margin-left: 28px;
  background-image: url("../img/svg/popular-4.svg");
}

.catalog-popular-img5 {
  display: inline-block;
  width: 56px;
  height: 98px;
  margin-top: 32px;
  margin-left: 55px;
  background-image: url("../img/svg/popular-5.svg");

}
.catalog-popular-svg6 {
  display: inline-block;
  width: 132px;
  height: 69px;
  margin-top: 49px;
  margin-left: 13px;
  background-image: url("../img/svg/popular-6.svg");
}

.logo-DJI-color,
.logo-SP-color,
.logo-GoPro-color,
.logo-Vive-color
{
  display: none;
}

.logo-DJI,
.logo-SP,
.logo-GoPro,
.logo-Vive {
  display: inline-block;
  width: 260px;
  height: 100px;
}

.logo-DJI {
  background-image: url("../img/logo-1.png");
}
.logo-SP {
  background-image: url("../img/logo-2.png");
}
.logo-GoPro {
  background-image: url("../img/logo-3.png");
}
.logo-Vive {
  background-image: url("../img/logo-4.png");
}

.logo-DJI:hover .logo-DJI-color,
.logo-SP:hover .logo-SP-color,
.logo-GoPro:hover .logo-GoPro-color,
.logo-Vive:hover .logo-Vive-color {
  display: block;
}

.page-footer {
  margin-top: 80px;
  padding-top: 59px;
  color: white;
  background-color: #464646;
}

.page-footer .wrapper {
  display: flex ;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
  box-sizing: border-box;
}

.footer p {
  font-weight: 300;
  line-height: 2;
}

.footer-user-activity {
  font-size: 15px;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: 0.15px;
  display: flex;
  justify-content: flex-end;
  color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
}

.footer-user-activity .user-activity-list {
  max-width: 600px;
  margin-right: 0;
  margin-left: 0;
}

.footer-user-activity ul {
  display: flex;
  padding: 0;
}

.footer-side-holder {
  display: flex;
  padding-bottom: 50px;
  margin-bottom: 50px;
  padding-top: 2px;
}

.footer-user-activity button,
.footer-user-activity a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: 0.15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  vertical-align: sub;
}

.footer-user-activity .cart-button {
  padding-right: 0;
}

.footer-user-activity .logoff-footer {
  padding-left: 9px;
}

.indent-collapse {
  margin-right: 0;
  padding-right: 0;
}

.contact-us{
  max-width: 260px;
}

.about-us {
  max-width: 232px;
}

.contact-us {
  margin-top: 68px;
}

.about-us {
  margin-top: 37px;
}

.user-activity-list {
  margin: 0 auto;
}

.compare-button:before {
  content: '';
  display: block;
  position: absolute;
  left: -15px;
  top: 17px;
  width: 12px;
  height: 12px;
  background-image: url("../img/svg/compare-yellow.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.cart-button:before {
  content: '';
  display: block;
  position: absolute;
  left: -17px;
  top: 16px;
  width: 12px;
  height: 12px;
  background-image: url("../img/svg/cart-yellow.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logoff-footer {
  font-size: 17px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: white;
  opacity: 0.3;
  border: none;
  margin-right: 27px;
}

.footer-user-name{
  margin-left: 15px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 300;
  padding-top: 2px ;
  letter-spacing: 0.15px;
}

.footer-user-name:before {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  left: 3px;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/user-yellow.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-login-button:before {
  content: '';
  display: block;
  position: absolute;
  left: -21px;
  top: 15px;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/user-yellow.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.logoff-footer:hover {
  opacity: 0.7;
}

.footer-user-name {
  padding: 5px 5px 5px 15px;
  margin-right: 5px;
}

.footer-login-button,
.cart-button,
.compare-button,
.footer-user-name {
  color: rgba(255, 255, 255, 0.7)
}

.compare-button:hover,
.footer-login-button:hover,
.cart-button:hover,
.footer-user-name:hover {
  color: white;
}

.compare-button:hover:active,
.footer-login-button:active,
.cart-button:active,
.footer-user-name:active {
  opacity: 0.3;
}

.footer-user-name:hover::before,
.compare-button:hover::before,
.cart-button:hover::before {
  opacity: 0.6;
}

.footer-user-name:active::before,
.compare-button:active::before,
.cart-button:active::before {
  opacity: 0.4;
}

.compare-button {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 7px;
  padding-right: 7px;
  border: none;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 19px;
  margin-left: 199px;
}

.academy-link {
  margin-top: 31px;
}

.footer-contacts img:hover {
  opacity: 0.6;
}

.footer-contacts img:active {
  opacity: 0.3;
}

.phone-number {
  font-weight: 300;
  font-size: 15px;
  line-height: 2;
  text-align: right;
  margin-top: 6px;
}

.footer-contacts a {
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.service-footer li,
.service-footer a {
  color: white;
}

.services-type li {
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 4.7px;
  padding: 5px;
}

.services-type a  {
  padding: 7px 3px;
}

.footer-logo {
  margin-top: 5px;
  color: #f0c52e;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.address {
  margin-top: 28px;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
}

.social-facebook {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/svg/facebook.svg");
  background-color: #464646;
  border-radius: 100%;
  border: none;

}
.social-instagram {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  margin-right: 15px;
  background-image: url("../img/svg/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ebebeb;
  border-radius: 100%;
}

.social-twitter {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("../img/svg/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}

.yellow-decorative-line {
  width: 80px;
  height: 7px;
  margin-top: 61px;
  background-color: #ffc600;
}

.modal {
  position: fixed;
  color: #000000;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  z-index: 2;
}

.contact-us-form  {
  left: 50%;
  top: 50%;
  width: 760px;
  height: 453px;
  bottom: 10px;
  margin-top: -325px;
  margin-left: -480px;
  padding: 98px 100px;
  background-color: #ffffff;
}

.contact-us-form input[type="text"],
.contact-us-form input[type="email"]{
  border: none;
  font: inherit;
}

.modal-close {
  position: absolute;
  right: 22px;
  top: 22px;
  width: 55px;
  height: 55px;
  background-color: transparent;
  border: none;
  opacity: 0.5;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.contact-us-form  label {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
}

.contact-us-form input{
  font-size: 14px;
  line-height: 1.29;
  color: rgba(70, 70, 70, 0.4);
  background-color: #e5e5e5;
}

.mail-body {
  max-width: 740px;
}

.name-email-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 760px;
}

.name-email-wrapper input {
  width: 340px;
  height: 50px;
  padding-left: 20px;
  margin-top: 13px;
  outline: #ffb97b;
  background-color: #f2f2f2;
}

.name-email-wrapper .no-value {
  background-color: #f6dada;
}

.name-email-wrapper input:hover {
  background-color: #eaeaea;
}

.name-email-wrapper input:focus{
  outline: solid 3px #ffb97b;
  outline-offset: -1px;
  opacity: 0.5;
  background-color: #ffffff;
}

.contact-textarea-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.contact-textarea-wrapper textarea {
  padding-top: 18px;
  padding-left: 20px;
  margin-top: 13px;
  margin-bottom: 55px;
  color: rgba(70, 70, 70, 0.4);
  background-color: #f2f2f2;
  border: none;
}

.contact-us-form  textarea:hover {
  background-color: #eaeaea;
}

.contact-us-form  textarea:focus{
  outline: solid 3px #ffb97b;
  outline-offset: -1px;
  opacity: 0.5;
  background-color: #ffffff;
}

.contact-name-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-email-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-map {
  top: 50%;
  left: 50%;
  width: 960px;
  height: 559px;
  margin-left: -480px;
  margin-top: -280px;
}

.catalog-item {
  margin-bottom: 47px;
  width: 360px;
}

.catalog-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.title-price-wrapper {
  margin-top: 28px;
}

.catalog-item-title {
  margin: 0;
}

.catalog-item-prise {
  margin: 0;
}

.catalog-main ul {
  margin-left: 0;
  padding-left: 0;
}

.catalog-main h3 {
  font-size: 16px;
  font-weight: 800;
  font-family: 'Gilroy', sans-serif;
  z-index: 2;
}

.catalog-h1 {
  padding-top: 38px;
  padding-bottom: 7px;
  margin: 0;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
}

.catalog button {
  width: 67px;
  font-size: 14px;
  background-color: #ebebeb;
  border: none;
}
.catalog-item-image{
  background-color: #ebebeb;
}

.nav-arrow {
  width: 4px;
  height: 7px;
  padding-right: 15px;
  padding-left: 15px;
  object-fit: contain;
}

.filter-header {
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-right: 178px;
}

.divider {
  display: inline-block;
  height: 2px;
  background-color: black;
}

.colour-h3 {
  margin-top: 14px;
  letter-spacing: 1px;
}

.arrow-down-link {
  width: 11px;
  height: 10px;
  object-fit: contain;
  padding: 5px 5px 5px 3px;
  margin: 4px;
  background-color: #ebebeb;
  border: none;
}

.arrow-up-link {
  width: 11px;
  height: 10px;
  object-fit: contain;
  padding: 5px 3px 5px 5px;
  margin: 4px;
  opacity: 0.2;
  background-color: #ebebeb;
  border: none;
}

.arrow-up {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/svg/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.arrow-down {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/svg/icon-down-dir.svg");
  background-repeat: no-repeat;
}

.arrow-up-link:hover,
.arrow-down-link:hover {
  opacity: 0.6
}

.arrow-up-link:active,
.arrow-down-link:active{
  opacity: 0.6
}

.pagination-item {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  width: 9px;
  opacity: 0.3;
}

.pagination-item:hover {
  opacity: 0.6;
}

.pagination-item:active {
  opacity: 1;
}

.pagination-item-current {
  font-weight: 800;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 3.2px;
  width: 9px;
}

.catalog-main {
  display: block;
}

.catalog-body-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.breadcrumbs-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 1160px;
  margin: 0px auto 30px;
  padding-left: 60px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  position: relative;
}

.breadcrumbs li {
  padding: 0 30px 0 3px;
}

.breadcrumbs a {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.14px;
  width: 142px;
  height: 14px;
  opacity: 0.3;
}

.breadcrumbs li:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 2px;
  width: 12px;
  height: 12px;
  background-image: url(../img/svg/nav-arrow.svg);
  background-repeat: no-repeat;
  margin-left: 15px;
}

.current-page {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.14px;
  width: 142px;
  height: 14px;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 1;
}
.breadcrumbs li:last-child:hover a{
  cursor: default;
  opacity: 0.3;
}
.filters {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  flex-direction: column;
  min-width: 327px;
  background-color: #ebebeb;
  box-sizing: border-box;
}

.decorative-filter-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 9px;
  background-color: #d9d9d9;
}


.filter-color {
  margin-top: 5px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.filter-color li,
.filter-bluetooth li {
  font-size: 14px;
  font-weight: 300;
  line-height: 2.86;
  letter-spacing: 0.14px;
  padding-left: 39px;
}

.color-filter-item input,
.filter-bluetooth input {
  display: none;
}

.color-filter-item label,
.filter-bluetooth label {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.color-filter-item label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -40px;
  width: 27px;
  height: 25px;
  background: url(../img/svg/checkbox-off.svg) 0 50% no-repeat;
}
.color-filter-item input:checked+label::before {
  background: url(../img/svg/checkbox-on.svg) 0 50% no-repeat;
}

.color-filter-item label:hover::before,
.filter-bluetooth-item label:hover::before{
  opacity: 0.6;
}

.color-filter-item label:active::before,
.filter-bluetooth-item label:active::before{
  opacity: 1;
}

.filters-h3 {
  letter-spacing: 1.3px;
  margin-bottom: 3px;
  margin-top: 0;
}

.filter-bluetooth-item label {
  font-size: 14px;
  letter-spacing: 0.14px;
}

.filter-bluetooth-item label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -40px;
  width: 26px;
  height: 26px;
  background: url(../img/svg/radio-off.svg) 0 50% no-repeat;
}

.filter-bluetooth-item input:checked+label::before {
  background: url(../img/svg/radio-on.svg) 0 50% no-repeat;
}

.button-show {
  width: 200px;
  margin-top: 17px;
}

.button-show::before,
.button-show::after {
  background-color: #ebebeb;
}

.filters-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 69px;
  width: 42%;
  max-width: 198px;
  padding-right: 70px;
  padding-left: 50px;
}

.price-h1 {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1.5px;
  margin-top: 13px;
  margin-bottom: 0;
}

.price-sorting {
  display: inline-block;
  position: relative;
  height: 25px;
}

.price-sorting:before,
.price-sorting:after{
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
}

.range-controls {
  position: relative;
  height: 16px;
  margin-bottom: 0;
  padding-top: 37px;
  padding-right: 0;
  padding-left: 20px;
  background-color: #ebebeb;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 110px;
  height: 2px;
  background-color: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: 27px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle:active {
  width: 5px;
  height: 5px;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 110px;
}

.prise-value-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 145px;
}
.prise-value-wrapper span {
  height: 12px;
  opacity: 0.2;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.cost-wrapper {
  margin-bottom: 42px;
}

.catalog {
  width: 100%;
}

.catalog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  position: relative;
}

.sorting {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 11px;
  background-color: #ebebeb;
  box-sizing: border-box;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  width: 833px;
  box-sizing: border-box;
  padding-left: 70px;
}

.sorting-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.sorting-wrapper h3 {
  text-transform: uppercase;
  letter-spacing: 3.2px;
  align-self: center;
  margin-right: 26px;
}

.sorting-list {
  display: flex;
  align-items: center;
}

.sorting-list button {
  width: 100%;
  margin-left: 10px;
  margin-right: 8px;
  background-color: transparent;
  box-sizing: border-box;
}

.sorting-button {
  opacity: 0.3;
  font-size: 14px;
  line-height: 1.29;
}

.sorting-button:hover {
  opacity: 0.6;
}

.current-sorting-button {
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
}

.updown-arrow-wrapper {
  display: flex;
  align-items: center;
}
.updown-arrow-wrapper button {
  height: 100%;
  width: 100%;
}

.arrow-down {
  margin-left: 5px;
}

.catalog-item button {
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  opacity: 0.5;
}

.catalog-list-holder {
  max-width: 833px;
  padding: 52px 0 0 73px;
  margin-right: auto;
  box-sizing: border-box;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 34px;
  width: 100%;
}

.catalog-list h2 {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
}

.catalog-list p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.16px;
  margin-left: 10px;
  color: #464646;
}

.title-price-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.catalog-item-wrapper {
  position: relative;
}

.catalog-item-hover {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.catalog-item-hover:hover {
  opacity: 1;
  z-index: 1;
}

.catalog-item-hover:hover + img  {
  opacity: 0.7;
}

.add-button {
  font-family: 'Gilroy', sans-serif;
  line-height: 1.33;
  letter-spacing: 3.6px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  padding: 9px 14px;
  background-color: transparent;
  border: none;
  z-index: 1;
}

.add-button:hover::before {
  height: 25px;
}

.add-button:hover::after {
  height: 25px;
}

.add-button span {
  position: relative;
  z-index: 3;
}

.add-button::before,
.add-button::after {
  content: '';
  position: absolute;
  left: 0;
  height: 5px;
  width: 100%;
  z-index: 2;
  background-color: #f0c52e;
  transition: height 0.25s ease-in-out;
}

.add-button::before {
  top: 16px;
}

.add-button::after {
  bottom: 16px;
}

.catalog-item-hover button:hover {
  opacity: 1;
}

.catalog-item-hover button:active {
  opacity: 0.2
}

.pagination {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: 71px;
  margin-right: 52px;
  margin-bottom: 77px;
  background-color: #ebebeb;
}

.pagination-wrapper {
  box-sizing: border-box;
  max-width: 885px;
  margin: 0 0 77px;
}

.pagination-button-back,
.pagination-button-forward {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  width: 17%;
  padding: 23px 18px;
  border: none;
  box-sizing: border-box;
}

.pagination-button-back:hover,
.pagination-button-forward:hover {
  background-color: #d9d9d9;
}

.pagination-button-back:active,
.pagination-button-forward:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}

.pagination button:active {

}

.pagination-list {
  display: flex;
  margin-top: 25px;
}

.pagination-list li{
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: left;
  margin-right: 15px;
  margin-left: 15px;
}

label {
  display: inline;
}

.regular-checkbox {
  display: none;
}

.regular-checkbox + label {
  display: inline-block;
  position: relative;
  padding: 9px;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  border-radius: 3px;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.regular-checkbox:checked + label:after {
  content: '\2714';
  position: absolute;
  font-size: 14px;
  top: 0;
  left: 3px;
  color: #99a1a7;
}

.big-checkbox + label {
  padding: 18px;
}

.big-checkbox:checked + label:after {
  font-size: 28px;
  left: 6px;
}

.tag {
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  float: left;
  position: relative;
  width: 200px;
  top: 5px;
}

.button-holder {
  float: left;
}

.catalog-footer {
  margin-top: 0;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

