.background-black {
  background-color: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.focus:focus {
  outline: 5px #cfcffb;
}
.catalog-popular-img1 {
  display: inline-block;
  background-image: url("../img/svg/popular-1.svg");
  width: 97px;
  height: 55px;
}
.catalog-popular-img2 {
  display: inline-block;
  background-image: url("../img/svg/popular-2.svg");
  width: 86px;
  height: 117px;
}
.catalog-popular-img3{
  display: inline-block;
  background-image: url("../img/svg/popular-3.svg");
  width: 71px;
  height: 87px;
}
.catalog-popular-img4 {
  display: inline-block;
  background-image: url("../img/svg/popular-4.svg");
  width: 107px;
  height: 65px;
}
.catalog-popular-img5 {
  display: inline-block;
  background-image: url("../img/svg/popular-5.svg");
  width: 56px;
  height: 98px;
}
.catalog-popular-svg6 {
  display: inline-block;
  background-image: url("../img/svg/popular-6.svg");
  width: 132px;
  height: 69px;
}
